<?xml version="1.0" ?>
<robot name="m20id25_calib" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include
    filename="/workspace/urdf/m20_25-18d_urdf_macro.xacro"
  />

  <link name="world" />

  <xacro:m20_25-18d parent="world" child="ee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:m20_25-18d>

</robot>
